<h1>Stubroadgram</h1>
<h3>新規投稿ページ</h3>
<%= form_for @post do |f| %>

    <div class="field">
    <%= f.label :content  %>
    <%= f.text_area :content, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :school %>
    <%= f.text_field :school, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :video %>
    <%= f.file_field :video, :accept => 'video/*' %>
</div>
<%= f.label :category %>
<%= f.select :category, [["アメリカ", "america"], ["カナダ", "canada"], ["イギリス", "uk"],["オーストラリア", "aus"]], include_blank: "どの投稿？" %>
<%= f.label :lat,"緯度" %>
    <%= f.text_field :lat,:value =>"緯度", id: :lat %>
    <%= f.label :lng,"経度" %>
    <%= f.text_field :lng,:value =>"経度", id: :lng %>
  <%= f.submit "Tweetする" %>
<% end %>

<div class="mappppp">
    <div class="kennsakumap">
      <div class="field">
        <input 
        class="text" 
        type="textbox"
        placeholder="マップ検索"
        onkeyup="this.setAttribute('value', this.value);"
        id="address"
        value=""/>
        <label class="label">マップ検索</label>
        <label class="error"></label>
        
      </div>
    </div>



<h2>Map</h2>

<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="検索" onclick="codeAddress()">
<p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京
    zoom: 15,
    
  });
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDayWOD0E9pX6QwAhq8ewxVcLd-m0cJRMg&callback=initMap" async defer></script>