<div class="comment-wrapper">
<p>コメント一覧</p>
<% @comments.each do |c| %>
  <div>
    <%= c.user.email unless c.user.blank? %>
    <br>
    <%= c.content %>
  </div>
    <br>
<% end %>
<% if user_signed_in? %>
<%= form_with(model: [@post, @comment], local: true) do |f| %>
  <%= f.text_area :content %>
  <%= button_tag type: "submit" do %>
    <i class="far fa-comments"></i> コメントする
  <% end %>
<% end %>
<p>
  <%= link_to @post.video_url.to_s do %>
   <%= video_tag(@post.video.to_s) %>
  <% end %>
</p>
<%= link_to "編集する", edit_post_path(@post.id) %>
<% end %>